svg {
    width: 100%;
    height: 100vh;
}

svg text.label {
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

svg text::selection {
    background: none;
}

svg rect, svg path {
    transition: 0.1s ease-in-out opacity;
}

svg .hidden,
svg .hidden * {
    opacity: 0.75;
    transition: 0.1s ease-in-out opacity;
}

svg g.button > g > text {
    dominant-baseline: middle;
    text-anchor: middle;
}