body {
    background-color: #222;
}

#container {
    text-align: center;
}

svg {
    background: url('bw.png');
    border-radius: 5px;
    width: 100%;
    height: 100vh;
}

svg text {
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

svg text::selection {
    background: none;
}

svg rect, svg path {
    transition: 0.1s ease-in-out opacity;
}

svg .hidden,
svg .hidden * {
    opacity: 0;
    transition: 0.1s ease-in-out opacity;
}


svg .titlebar > rect {
    fill: #001;
}

svg .titlebar > text {
    fill: #ddd;
}

svg rect.body {
    fill: #484850;
}

svg g.button > rect {
    fill: #000;
}

svg g.button > line.light {
    stroke: #fff;
}

svg g.button > line.dark {
    stroke: #777;
}